* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .monthly-calendar {
    width: auto;
  }
}

#show-popup-monthly {
  border: none;
  font-weight: bold;
  background-color: white;
  outline: none;
  cursor: pointer;
  margin: 0px 0px 15px 75px;
  font-size: 20px;
}

.monthly-calendar {
  display: inline-block;
  box-shadow: 0 0 10px 0 black;
  margin-left: 50px;
  width: 850px;
  height: 500px;
}

.react-calendar__month-view__days__day {
  height: 68px;
}
