* {
  margin: 0;
  padding: 0;
}

.current-Year-and-plans-on-Yearly {
  width: 400px;
  height: 500px;
  border: none;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px 5px #414345;
  border-radius: 10px;
  float: left;
}

.yearly-calendar {
  display: inline-block;
  box-shadow: 0 0 10px 0 black;
  margin-left: 50px;
  width: 850px;
  height: 500px;
}

.react-calendar__year-view__months__month {
  height: 110px;
}
