* {
  margin: 0;
  padding: 0;
}

.month-calendar {
  box-shadow: 0 0 10px 0 black;
  height: 280px;
  margin-left: 125px;
  margin-top: 20px;
}

.month-calendar .react-calendar__year-view__months__month {
  height: 10px;
}
