* {
  margin: 0;
  padding: 0;
}

#dropdown-basic-button {
  margin-left: 400px;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #5555ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.dropdown-item {
  display: block;
  width: 100px;
  height: 50px;
  border: none;
  background-color: #aaaaaa;
  color: #222222;
  cursor: pointer;
}

.go-to-Yearly {
  margin: 20px 0 0 10px;
  width: 100px;
  height: 200px;
  border: none;
  background-color: #b8eb75;
  cursor: pointer;
  display: block;
  float: left;
}

.go-to-Monthly {
  margin: 20px 0 0 10px;
  width: 100px;
  height: 200px;
  border: none;
  background-color: #b8eb75;;
  display: block;
  cursor: pointer;
  float: left;
}


.daily {
  width: 150px;
  height: 500px;
  text-align: center;
  border: none;
  background-color: #faf9a8;
  margin-left: 20px;
  float: left;
  text-align: center;
}
