#main-home-page {
}

#main-text {
  margin-top: 150px;
  text-align: center;
}

.content {
  margin-bottom: 13px;
  font-size: 18px;
  font-family: serif;
  text-shadow: 3px 4px 10px black;
}

ol {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}
