#loginForm {
  padding-top: 80px;
  margin-left: 300px;
  text-align: center;
  background-color: #f2f2f2;
}

#clickBt {
  margin-top: 10px;
  width: 300px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: #414345;
  font-weight: bold;
  background-color: #d7dde8;
  cursor: pointer;
  outline: none;
}

#clickBt:hover {
  background-color: #757f9a;
  color: white;
}

.inputValue {
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}

.label {
  font-size: larger;
  font-weight: 500;
}
