.close {
  text-align: left;
  font-size: 30px;
  cursor: pointer;
  width: 21px;
}

.popup-content {
  color: black;
  font-weight: 600;
  text-align: center;
  margin: -50px;
  box-shadow: 5px 5px 5px black;
}

.modal-title {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.plan-name-box {
  margin-bottom: 15px;
}

.plan-name {
  margin-left: -65px;
}

.write-plan-name {
  margin-left: 20px;
}

.plan-choose-box {
  margin-bottom: 15px;
}

.plan-choose-title {
  margin-left: -175px;
}

.plan-choose {
  margin-left: 20px;
}

.goals-category-title {
  margin-left: -115px;
}

.goals-category {
  margin-left: 20px;
}

.save {
  width: 200px;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  background-color: #93291e;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  margin-left: 0px;
}
