#signupForm {
  padding-top: 80px;
  margin-left: 300px;
  text-align: center;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
}

#feedbackMessage {
  color: red;
  font-weight: 500;
}
